aiofiles==23.1.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aioice==0.7.6
aiortc==1.4.0
aiosignal==1.3.1
aiounittest==1.4.2
altair==4.2.2
asgiref==3.5.2
astroid==2.12.12
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.1.0
autobahn==23.1.2
Automat==22.10.0
autopep8==2.0.0
av==10.0.0
backcall==0.2.0
bidict==0.22.0
bitstring==4.0.1
blinker==1.5
cachetools==5.3.0
camera4kivy==0.2.0
cassidy==0.1.4
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
constantly==15.1.0
cryptography==38.0.3
Cython==0.29.32
daphne==4.0.0
dataclasses-json==0.5.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
Django==4.1.2
django-allauth==0.51.0
django-crispy-forms==1.14.0
django_debug_toolbar==3.8.1
dnspython==2.2.1
emoji==2.2.0
entrypoints==0.4
enumb==0.1.5
executing==1.2.0
expo==0.1.2
Flask==2.2.2
Flask-Admin==1.6.0
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-SocketIO==5.3.1
Flask-SQLAlchemy==3.0.2
frozenlist==1.3.3
geographiclib==2.0
geopy==2.3.0
gestures4kivy==0.1.1
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.31
google-crc32c==1.5.0
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.0.0
incremental==22.10.0
ipython==8.11.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
langchain==0.0.121
lazy-object-proxy==1.8.0
llama-index==0.4.36
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mediatype==0.1.6
MouseInfo==0.1.3
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
ndg-httpsclient==0.5.1
netifaces==0.11.0
nltk==3.7
numpy==1.23.4
oauthlib==3.2.2
openai==0.27.2
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
packaging==23.0
pandas==1.5.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.2
priority==2.0.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pusher==3.3.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.0
pyee==9.0.4
pyforkurento==0.1.7
PyGetWindow==0.0.9
Pygments==2.14.0
PyJWT==2.6.0
pykurento==0.0.1
pylibsrtp==0.8.0
pylint==2.15.5
pymongo==4.3.2
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==23.0.0
pyperclip==1.8.2
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
pyrsistent==0.19.3
pyrtmp==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-engineio==4.3.4
python-socketio==5.7.2
python3-openid==3.2.0
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
quart==0.18.3
raspberrypi==0.1.9
redis==4.5.3
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.3.1
scikit-learn==1.1.3
scipy==1.9.3
semver==2.13.0
sentiment==0.0.1
service-identity==21.1.0
six==1.16.0
smart-open==6.2.0
smmap==5.0.0
SQLAlchemy==1.4.43
sqlparse==0.4.3
stack-data==0.6.2
streamlit==1.18.1
streamlit-server-state==0.14.2
streamlit-webrtc==0.43.4
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.3.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.12
validators==0.20.0
vboxapi==1.0
vidstream==0.0.14
watchdog==2.2.1
wcwidth==0.2.6
websocket-client==0.57.0
Werkzeug==2.2.2
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
xlwt==1.3.0
yarl==1.8.2
zipp==3.13.0
zope.event==4.5.0
zope.interface==5.5.1
