{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    
    
    <link rel="stylesheet" href="{% static 'monitoring/css.css' %}">
    <script src="{% static 'monitoring/js.js' %}"></script>
</head>

<body>
    <div class="title">
        <h3>A holistic way to <br> solve problems and live better.</h3>
    </div>

    <div class="title1">
        We offer a mix of different formats to deliver the results you want the way you want them.
    </div>

    <div class="container">

        <div class="card">
            <img src="./Daily-Affirmations.png" alt="">
            <div class="name">
                Guided Meditation
            </div>
        </div>
        <div class="card">
            <img src="./Emotional-Journal.png" alt="">
            <div class="name">
                Yoga & Asans
            </div>
        </div>

        <div class="card">
            <img src="./Guided-Meditations-Relaxing-Music.png" alt="">
            <div class="name">
                Guided Meditation
            </div>
        </div>
        <div class="card">
            <img src="./Mindfulness-Programs-Courses.png" alt="">
            <div class="name">
                Yoga & Asans
            </div>
        </div>

        <div class="card">
            <img src="./Motivational-Shorts-Quick-Bites.png" alt="">
            <div class="name">
                Guided Meditation
            </div>
        </div>
        <div class="card">
            <img src="./Sleep-Stories-Audiobooks.png" alt="">
            <div class="name">
                Yoga & Asans
            </div>
        </div>

        <div class="card">
            <img src="./Spiritual-Growth.png" alt="">
            <div class="name">
                Guided Meditation
            </div>
        </div>
        <div class="card">
            <img src="./Yoga-Pranayam-Asanas.png" alt="">
            <div class="name">
                Yoga & Asans
            </div>
        </div>

    </div>

</body>
</html>