{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health</title>
    {% block head %}
    {% endblock %}
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        rel="stylesheet" />
    <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="{% static 'home/css/base2.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="menu-activea">
        <h1>Menu</h1>
        <ul>
            <li>Jimmy</li>
            <li>Susy</li>
            <li>Jack</li>
            <li>Nancy</li>
            <li>Kurt</li>
            <li>Clay</li>
            <li>Lisa</li>
        </ul>
    </nav>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <script>
        (function () {

            var nav = $('nav'),
                menu = $('nav h1'),
                main = $('main'),
                open = false,
                hover = false;

            menu.on('click', function () {
                open = !open ? true : false;
                nav.toggleClass('menu-active');
                main.toggleClass('menu-active');
                nav.removeClass('menu-hover');
                main.removeClass('menu-hover');
                console.log(open);
            });
            menu.hover(
                function () {
                    if (!open) {
                        nav.addClass('menu-hover');
                        main.addClass('menu-hover');
                    }
                },
                function () {
                    nav.removeClass('menu-hover');
                    main.removeClass('menu-hover');
                }
            );

        })();
    </script>



    {% block scripts %}
    {% endblock %}
</body>

</html>